@media (min-width: 320px) {
  hr {
    width: 5%;
    border: 1px solid #000; }
  .special-hr {
    width: 20%; }
  .total-body {
    width: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 1em; }
  .hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .hero h1 {
      color: #fff;
      text-align: center; }
    .hero .age {
      display: flex; }
      .hero .age #numbers {
        margin-left: .3em; }
  .timer-section, .information, .images, .about-scott {
    width: 90%;
    margin: 1em auto; }
  .leftSide img {
    padding: 2em; }
  .rightSide {
    margin: 2em auto; }
    .rightSide .final-countdown {
      text-align: center;
      font-size: 3em; }
    .rightSide #timer {
      font-size: 1em;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-around;
      color: #AF4034; }
      .rightSide #timer span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center; }
  .information h2 {
    text-align: center;
    color: #AF4034;
    margin: 3em 0 0; }
  .information .party {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 4em auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .information .party .location, .information .party .date, .information .party .rsvp {
      background-color: #dadada;
      padding: 3em 5em;
      border-radius: 25px;
      margin: 2em 0;
      width: 22em; }
      .information .party .location h4, .information .party .date h4, .information .party .rsvp h4 {
        margin: 1em 0 2em; }
      .information .party .location .fa-3x, .information .party .date .fa-3x, .information .party .rsvp .fa-3x {
        color: #AF4034; }
  .information a {
    color: #AF4034;
    text-decoration: underline; }
    .information a a:hover, .information a a:active, .information a a:visited {
      color: inherit !important; }
  .images {
    margin-bottom: 5em; }
    .images h2 {
      color: #AF4034;
      margin: 3em auto;
      text-align: center; }
    .images img {
      margin-bottom: 2em; } }

@media (min-width: 768px) {
  .timer-section {
    margin-top: 2em;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .rightSide {
    margin: auto; }
    .rightSide #timer {
      font-size: 1.2em; }
      .rightSide #timer span {
        font-size: 2em; }
      .rightSide #timer div {
        margin: 0 .5em; }
  .hero h1 {
    font-size: 10em; } }

@media (min-width: 1200px) {
  .total-body {
    padding: 0; }
  .leftSide img {
    padding: 2em 0; }
  .rightSide #timer span {
    font-size: 3em; } }
