@media (min-width: 320px) {
  .total-body {
    width: 95%;
    margin: auto;
    font-family: 'Montserrat', sans-serif; }
  .hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .hero h1 {
      color: #fff;
      text-align: center; }
  .timer-section {
    margin: 1em 0; }
  .leftSide img {
    padding: 2em; }
  .rightSide {
    margin: 2em auto; }
    .rightSide #timer {
      font-size: 1em;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-around; }
      .rightSide #timer span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center; }
  .party {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .party a.link {
      color: #AF4034;
      text-decoration: underline; }
      .party a.link a:hover, .party a.link a:active, .party a.link a:visited {
        color: inherit !important; }
  .images {
    margin: 1em auto; }
    .images .top, .images .bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between; }
      .images .top img, .images .bottom img {
        width: 48%;
        margin-bottom: .5em; } }

@media (min-width: 768px) {
  .timer-section {
    margin-top: 2em;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .rightSide {
    margin: auto; }
    .rightSide #timer {
      font-size: 1.2em; }
      .rightSide #timer span {
        font-size: 2em; }
      .rightSide #timer div {
        margin: 0 .5em; }
  .hero h1 {
    font-size: 4em; }
  .images .top img, .images .bottom img {
    width: 22%;
    margin-bottom: 2em; } }

@media (min-width: 1200px) {
  .total-body {
    width: 1200px; }
  .leftSide img {
    padding: 2em 0; }
  .rightSide #timer {
    background-color: #dddfe6;
    padding: 4em; }
    .rightSide #timer span {
      font-size: 3em; }
  .images {
    margin: 5em auto; } }
